.post-meta {
  font-size: 12px;
  line-height: 20px;
  figure.author-mug {
    img {
      max-width: 35px;
      height: 100%;
      border-radius: 50%;
    }
  }
  figure.author-mug img,
  figcaption {
    margin-right: 10px;
  }
  .time-to-read {
    margin-left: 10px;
  }
}
