// -- primary
$constant_blue: #1856ed;
$apricot: #ff9e1a;

// -- secondary
$space: #0b1450;
$retro_green: #33c99c;
$charcoal: #333333;

// -- backgrounds
$harbor: #deddd7;
$robbins_egg: #bcf0f2;
$pearl: #f3f6f9;
$snow: #ffffff;

// -- neutrals
$med_charcoal: #757677;
$light_charcoal: #dee1e3;

// -- feedback
$lava: #da3c01;
$light_emerald: #b2f8df;
$light_apricot: #ffe8ba;
$light_constant: #cde4ff;

// -- buttons
$constant_hover: #0f3592;
$apricot_hover: #f28116;
