@import "../../styles/mixins";
@import "../../styles/functions";

.home-featured-posts {
  @include breakpoint(maxWidth) {
    @include responsive-margins();
  }
  @include breakpoint(1380px) {
    a.readmore-posts {
      right: auto;
      bottom: auto;
      position: relative;
      margin: 40px auto 0;
      width: 50%;
      justify-content: center;
      i {
        margin-left: 6px;
      }
    }
  }
  @include breakpoint(800px) {
    .featured-posts-wrap .post {
      flex-basis: single_column_width_plus_gutter("50%", "2", "45px");
    }
    .featured-posts-wrap .post:first-child {
      @include reset-flex-width();
      margin-bottom: 45px;
    }
  }
  @include breakpoint(mobile) {
    h2.featured {
      margin-top: 3px;
    }
    a.readmore-posts {
      width: 100%;
      margin-top: 0;
      height: 46px;
    }
    .featured-posts-wrap .post,
    .featured-posts-wrap .post:first-child {
      @include reset-flex-width();
      margin-bottom: 32px;
    }
  }
}
