@import "../../styles/mixins";

.home-featured-posts {
  @include breakpoint(maxWidth) {
    @include responsive-margins();
    a.readmore-posts {
      right: auto;
      bottom: auto;
      position: relative;
      margin: 40px auto 0;
      width: 50%;
      justify-content: center;
      i {
        margin-left: 6px;
      }
    }
  }
  @include breakpoint(mobile) {
    h2.featured {
      margin-top: 3px;
    }
    article.post {
      margin-bottom: 35px;
    }
    a.readmore-posts {
      width: 100%;
      margin-top: 0;
      height: 46px;
    }
    .featured-posts-wrap .post,
    .featured-posts-wrap .post:first-child {
      @include reset-flex-width();
    }
  }
}
