@mixin contain($size) {
  width: 100%;
  @if $size == main {
    max-width: 1199px;
    margin: 0 auto;
  }
}

@mixin breakpoint($device) {
  $width: 1024px !default;
  @if $device == mobile {
    $width: 440px;
  } @else if $device == tablet {
    $width: 1024px;
  } @else if $device == maxWidth {
    $width: 1200px;
  } @else {
    $width: $device;
  }
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin responsive-margins() {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin reset-flex-width() {
  width: 100% !important;
  flex-basis: 100% !important;
}

@mixin cta-button() {
  border-radius: 28px;
  background-color: #ff9e1a;
  border-style: none;
  margin-top: 17px;
  width: 145px;
  height: 38px;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  a {
    color: $space;
    &:hover {
      color: $space;
    }
  }
  &:hover {
    background-color: $apricot_hover;
  }
}
