@import "../../styles/mixins";
@import "../../styles/functions";
#site-content {
  .taxonomy-masonry-feed {
    @include breakpoint(maxWidth) {
      @include responsive-margins();
      form.signup-form-actual-form input.newsletter-email-field {
        width: 75%;
      }
    }
    @include breakpoint(1380px) {
      .posts-feed {
        a.readmore-posts {
          right: auto;
          bottom: auto;
          position: relative;
          margin: 40px auto 0;
          width: 50%;
          justify-content: center;
          i {
            margin-left: 6px;
          }
        }
      }
    }
    @include breakpoint(800px) {
      .posts-feed {
        &.categories-posts-feed,
        &.industry-posts-feed {
          .row-1,
          .row-2 {
            margin-top: 0;
            flex-wrap: wrap;
            article,
            .feed-newsletter-signup {
              h2 {
                font-size: 21px;
                line-height: 33px;
              }
              margin-bottom: 32px;
              flex-basis: single_column_width_plus_gutter("50%", "2", "45px");
              width: single_column_width_plus_gutter("50%", "2", "45px");
            }
            .feed-cta {
              flex-basis: 100%;
              width: 100%;
              margin-bottom: 45px;
              padding: 45px 0;
            }
          }
        }
      }
    }
    @include breakpoint(mobile) {
      h2 {
        line-height: 40px;
        margin-bottom: 15px;
      }
      .open-modal {
        margin-left: 0;
        width: 100%;
      }
      .termsList {
        &.active {
          width: 96%;
        }
      }
      .wrapper {
        padding: 60px 0 35px;
      }
      .posts-feed {
        a.readmore-posts {
          width: 100%;
          margin-top: 0;
          height: 46px;
        }
      }
      .feed-cta,
      .feed-newsletter-signup {
        display: none;
      }
      .termsList {
        width: 100%;
        margin-left: 0;
        .slide {
          button {
            font-size: 16px;
            line-height: 25px;
            width: 100%;
            a.more-plus {
              margin-left: auto;
            }
          }
        }
      }
      .industry-posts-feed,
      .categories-posts-feed {
        .row-1,
        .row-2 {
          article {
            @include reset-flex-width();
          }
        }
      }
    }
  }
}
